<!-- @{
    Layout = "_Layout";
}

@model Travel.Models.Place

<h2>Are you sure you want to delete this?</h2>

@Html.DisplayNameFor(model => model.City): @Html.DisplayFor(Model => Model.City)
@using (Html.BeginForm())
{
    <input type="submit" value="delete"/>
}

@Html.ActionLink("Back to Places", "Index") -->