@{
    Layout = "_Layout";
}

<div class="container">
    <div class="card">
        <h1>Welcome to the Travel Yelp!</h1>
        <p>@Html.ActionLink("See all reviews", "Index", "Reviews")</p>
        <p>@Html.ActionLink("See all places", "Index", "Places")</p>
    </div>
</div>